<div class="item footer">
  <div class="icons">
    <a href=""><i class="fa fa-github fa-lg"></i></a>
    <a href=""><i class="fa fa-twitter fa-lg"></i></a>
    <a href=""><i class="fa fa-beer fa-lg" alt="Placeholder" title="Placeholder"></i></a>
    <a href=""><i class="fa fa-beer fa-lg" alt="Placeholder" title="Placeholder"></i></a>
    <a href=""><i class="fa fa-beer fa-lg" alt="Placeholder" title="Placeholder"></i></a>
    <a href=""><i class="fa fa-beer fa-lg" alt="Placeholder" title="Placeholder"></i></a>
  </div>
  <div class="footercontent">
    <div class="meetings">
      <h5>Weekly Meetings</h5>
      <p>Every Friday at 4pm, except before an academic breaks.</p>
      <p>In Dunn 206.</p>
    </div>
  </div>
</div>
