<div class="footer">
  <div class="icons">
    <a href=""><i class="fa fa-github fa-lg"></i></a>
    <a href=""><i class="fa fa-twitter fa-lg"></i></a>
    <a href=""><i class="fa fa-beer fa-lg" alt="Placeholder" title="Placeholder"></i></a>
    <a href=""><i class="fa fa-beer fa-lg" alt="Placeholder" title="Placeholder"></i></a>
    <a href=""><i class="fa fa-beer fa-lg" alt="Placeholder" title="Placeholder"></i></a>
    <a href=""><i class="fa fa-beer fa-lg" alt="Placeholder" title="Placeholder"></i></a>
  </div>
  <!-- <div class="meetings">
    <h5>Weekly Meetings</h5>
    <p>Every Friday at 4pm, except before an academic breaks.</p>
    <p>In Dunn 206.</p>
  </div> -->
  <!-- <div class="socialmedia">
    <ul>
      <li><a href="https://www.facebook.com/PotsdamACM/?fref=ts" target="_blank">Facebook</a></li>
      <li><a href="https://github.com/potsdamacm" target="_blank">Github</a></li>
      <li><a href="https://twitter.com/potsdamacm" target="_blank">Twitter</a></li>
      <li><a href="https://www.linkedin.com/groups/8408448" target="_blank">LinkedIn</a></li>
      <li><a href="https://plus.google.com/102069938733004614886" target="_blank">Google Plus</a></li>
      <li><a href="https://potsdamacm.slack.com/" target="_blank">Slack</a></li>
    </ul>
  </div> -->
</div>
