<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/assets/style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="/assets/main.js"></script>
  <title>{{ page.title }} {{ site.title }}</title>
</head>

<body>
  <header>
    <a href="/" class="title" style="color:white;">SUNY Potsdam ACM</a>
    <!-- UNFINISHED. update the classes, then make the changes to the css... -->
    <a href="/about" style="grid-column: -6;">About</a>
    <a href="/acmw" style="grid-column: -5;">ACM-W</a>
    <a href="/join" style="grid-column: -4;">Join</a>
    <a href="/org" style="grid-column: -3;">Eboard</a>
    <!-- <a href="/blog" style="grid-column: -3;">Blog</a> -->
    <a href="/donate" style="grid-column: -2;">Donate</a>
  </header>

  <div id="content">
    {{ content }}
  </div>

  <footer>
    {% include footer.html %}
  </footer>

</body>

</html>
