<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/assets/style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="/assets/main.js"></script>
  <title>{{ page.title }} {{ site.title }}</title>
</head>

<body>
  <header>
    <a href="/" class="title" style="color:white;">SUNY Potsdam ACM</a>
    <!-- UNFINISHED. update the classes, then make the changes to the css... -->
    <a href="/about" class="fourth-to-last">About</a>
    <a href="/org" class="third-to-last">Eboard</a>
    <a href="/blog" class="second-to-last">Blog</a>
    <a href="/donate" class="last">Donate</a>
  </header>

  <div id="content">
    {{ content }}
  </div>

  <footer>
    {% include footer.html %}
  </footer>

</body>

</html>
